@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --w: 20rem;
  --h: 30rem;
}

html,
body {
  @apply overscroll-none;
}

::-webkit-scrollbar {
  display: none;
}
