@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --w: 20rem;
  --h: 30rem;
}

form {
  --duration: 700ms;
}

html,
body {
  @apply overscroll-none;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/25 hover:bg-white/40;
}

.container-input:has(.is-empty)::before {
  @apply absolute bottom-0 z-10 h-0.5 animate-[slide-in-out_1.75s] bg-red-400 content-[''];
}

.is-empty {
  @apply animate-[fade-in_1s] text-red-400 placeholder-red-400;
}

.container-input:has(.is-invalid)::after {
  @apply bg-red-500;
}

.is-invalid {
  @apply animate-[fade-in_1s] text-red-500;
}

.container-input:has(.is-valid)::after {
  @apply bg-green-500;
}

.is-valid {
  @apply text-green-500;
}

.btn-loading {
  @apply bg-opacity-50;
}

.btn-success {
  @apply text-green-500 bg-transparent;
}

.btn-destructive {
  @apply text-red-500 bg-transparent;
}

.slide-in::after {
  @apply animate-[slide-in_var(--duration)_forwards];
}

.slide-out::after {
  @apply animate-[slide-out_var(--duration)_forwards];
}

@keyframes slide-in {
  0% {
    @apply left-0 w-0;
  }
  100% {
    @apply left-0 w-full;
  }
}

@keyframes slide-out {
  0% {
    @apply right-0 w-full;
  }
  100% {
    @apply right-0 w-0;
  }
}

@keyframes slide-in-out {
  0% {
    @apply left-0 w-0;
  }
  37% {
    @apply left-0 w-full;
  }
  57% {
    @apply right-0 w-full;
  }
  100% {
    @apply right-0 w-0;
  }
}
